<!DOCTYPE html>
<html>
<head>
  <title>Capstone415</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <%= link_to image_tag("logo.png", alt: "Utah Political Donation Databse"), root_path %>
    </div>
      <div class="col-sm-offset-8 col-sm-4">
        <% if flash[:notice] %>
          <div class='pull-right alert alert-success' style='margin-top: 10px;'><p><%= flash[:notice] %></p></div>
        <% end %>
        <% if flash[:alert] %>
          <div class='pull-right alert alert-danger' style='margin-top: 10px;'><p><%= flash[:alert] %></p></div>
        <% end %>
      </div>
    <%= yield %>
  </div>
</body>
</html>
